.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Input */
.task-input {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-top {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.task-input-text {
    height: 60px;
    width: 90%;
    padding: 20px 10px 10px 10px;
    border: solid 1px #646cff;
    border-radius: 10px 0 0 10px;
}

.input-button {
    width: 10%;
    border: solid 1px #646cff;
    border-radius: 0 10px 10px 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
}

.input-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-top: 10px;
    margin: 0 auto;
}

.input-category {
    cursor: pointer;
    transition: all 0.2s;
    padding: 10px;
    border-radius: 10px;
}

.input-category-selected {
    background-color: #646cff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

.calendar-icon {
    color: red;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2rem;
}

.calendar-icon:hover {
    color: #646cff;
}

.cog-icon {
    color: red;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    border: none;
    padding: 0;
    font-size: 1.2rem;
}

.cog-icon:hover {
    color: #646cff;
    transform: rotate(45deg);
}

/* TASK LIST */
.task-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.task-list-item {
    display: flex;
    width: 500px;
    height: 120px;
    border-radius: 20px;
}

.item-top {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    justify-content: space-between;
    padding: 13px;
    border-radius: 20px 0 0 20px;
}

.item-bottom {
    border: solid 1px #646cff;
    border-radius: 0 20px 20px 0;
    padding: 13px;
    width: 90%;
}

.item-bottom-favorite {
    border: solid 3px gold;
    border-radius: 0 20px 20px 0;
    padding: 13px;
    width: 90%;
}

.item-title {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 10px;
    height: 80%;
}

.task-completed {
    text-decoration: line-through;
}

.item-category {
    height: 20%;
    display: flex;
    justify-content: end;
    gap: 10px;
    font-style: italic;
}

.icon-favorite {
    color: gold;
}