* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colors */
.primary-color {
  background-color: #646cff;
}

.secondary-color {
  background-color: #abaddd;
}

.tertiary-color {
  background-color: #f5f6ff;
}